<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">Sondage Corp</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">Sondages</a></li>
            <li><a href="/dashboard">Recherche</a></li>
            <li><a href="/auth/logout">Déconnexion</a></li>
        </ul>
    </div>
</nav>