<h3><i class="fa-solid fa-chart-simple"></i> Sondage Corp</h3>
<div class="section">
    <p class="lead">
        Bienvenue au site des choix et des avis
    </p>
</div>
<div class="divider"></div>
<div class="section">

    <a href="/auth/google" class="btn red darken-1"> 
    <i class="fab fa-google left">

    </i> S'inscrire avec google
    </a>

</div>